<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}
    <!-- main part -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left">
                        <figure class="errimg">
                            <img src="image/404.jpg" alt="image loading..." class="img-fluid" title="Sudheer kumar">
                        </figure>
                        <p>Welcome To Here</p>
                        <h1>{{errMsg}}</h1>
                        <a href="/" ><button>Go Back</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>