<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}
    <!-- main part -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/MyImg.jpg" alt="image loading..." class="img-fluid Myimg" title="Sudheer kumar">
                        </figure>
                    </div>
                    
                     <!-- right side div -->
                     <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A<span class="txt_color"> MERN stack Developer </span> And Competitive Programmer</h1>
                        <a href="https://sk417.github.io/Portfolio/" target="blank"><button>About me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>